/* 

ids are denoted by '#'
classes are denotedby '.'

*/

body {
	background-image: linear-gradient(to bottom right, #f6fffd, #89cfff);
	font-family: 'Roboto Slab', sans-serif;
}

#main {
	max-width: 1000px;
	margin: auto;
}

.container {
	padding: 24px;
}

#profile {
	text-align: center;
}

#profile:hover {
	background-image: url("https://e0.pxfuel.com/wallpapers/286/336/desktop-wallpaper-random-things-i-cant-explain-eggdog.jpg");
}

#profile-pic {
	border-radius: 100%;
	width: 400px;
	height: 400px;
	margin: auto;
}

#secondary-image {
	border-radius: 0%;
	width: 400px;
	height: 400px;
	margin: auto;

}

h1 {
	color: #25d9d0;
	text-shadow: 2px 2px #eac74d;
}

h2 {
	color: #1e6965;
}